
h1 {
  font-family: 'markeziText';
  font-size: 64px;
  color: #F4CE14;
}

.submain {
  color: #FFF;
}

h2 {
  color: #000;
  font-weight: 600;
}

h2, .submain {
  font-family: 'Karla';
  font-size: 32px;
}

p {
    color: #FFF;
    margin-top: 30px;
}

.heroSection {
  background-image: url('/public/images/joseph-gonzalez-rp3c2RMcwgw-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
}

.aboutOne {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: space-around;
}
.aboutTwo {
  width: 50%;
}

.favorite {
  color: gold; 
}

.not-favorite {
  color: grey; 
}

p {
  font-family: 'Karla';
  font-size: 16px;
  font-weight: normal;
}

